@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Merienda:wght@300..900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


*{
  font-family: "Outfit", sans-serif;
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}